*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    list-style-type: none;
}

html, body{ 
    height: 100%;
    background-color: hsl(235, 18%, 26%);
}

p{
    font-size: 1em;
    max-width: 40ch;
    color: hsl(234, 29%, 20%)
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.newsletter-component-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: #ffffff;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 3em;
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.25);
}

.newsletter-text-and-form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin-left: 1em;
}

.newsletter-text-and-form span{
    font-size: 3.5em;
    font-weight: 700;
}

li{
    margin-left: 1.3em;
    margin-bottom: .5em;
    padding-left: .5em;
}

li::marker{
    content: url("./assets/icon-list.svg");
}

.input-text{
    display: flex;
    justify-content: space-between;
    font-size: .6em;
    margin-bottom: 1em;
    font-weight: 700;
}

.required-email-message{
    opacity: 0;
    color: #FF673E;
}

input{
    padding: 1.25em;
    border: 1px solid rgba(128, 128, 128, 0.74);
    border-radius: 5px;
}

input:focus{
    border: 1px solid black;
}

input:invalid:not(:focus):not(:placeholder-shown){
    background-color: hsl(7, 100%, 95%);
    border: 1px solid #FF673E;
    color: #FF673E;
}

button{
    background-color: hsl(234, 29%, 20%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 1.25em;
    margin-top: 1.5em;
    font-weight: 700;
    transition: background 500ms ease-in-out;
}

button:hover{
    background: linear-gradient(#FF5476,#FF673E);
    box-shadow: 0 5px 20px hsla(13, 100%, 62%, .75);
}

@media(max-width: 475px){
    .newsletter-component-container{
        flex-direction: column-reverse;
        border-radius: 0;
        padding: 0;
        gap: 1em;
    }

    .newsletter-text-and-form{
        margin: 0;
        gap: 1.5em;
        padding: 1em;
        }

    .newsletter-text-and-form span{
        font-size: 2.5em;
    }
}
